<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <h3>Add new post</h3>
    <form action="http://localhost:8080/post" method="POST" class="PostForm">
        <input type="text" name="username" id="user" placeholder="@yourid">
        <textarea class="form-control" name="content" id="content" rows="3" placeholder="Write here..."></textarea>
        <button type="submit">Add post</button>
    </form>
</body>
</html>